.show-case {
  background-color: $bright-red;
  color: $white;

  background-image: url("../../manage/images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 1em;

  div {
    padding: 3em;
    text-align: center;
    @include flexProps($dir: column, $gap: 2em);
    p {
      font-size: 3.5rem;
      font-weight: 700;

      @include md {
        font-size: 3rem;
        width: 50%;
      }
    }

    button {
      display: inline-block;
      margin: auto;
      width: 200px;
      padding: 1em;
      font-size: 18px;
      background: $white;
      color: $bright-red;
      transition: color, background 0.3s;
      &:hover {
        color: $white;
        background-color: $bright-red;
      }
      @include md {
        align-self: center;
        margin: initial;
      }
    }

    @include md {
      width: 100%;

      text-align: initial;
      padding: 2em 0;
      @include flexProps($jsfy: space-between, $algn: center);
    }
  }
  // end of the containing div styles
}
